* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: lato, sans-serif, arial;
}

:root {
  --white: #fff;
  --capstone-grey: #272a31;
  --soft-orange: #ec5242;
  --light-grey: #d3d3d3;
  --black: #0e0000;
  --f1-red: #e00700;
  --dark-grey: #4b4d4c;
  --hard-white: #fff7f7;
}

h1,
.year {
  font-size: 40px;
  font-weight: 900;
  mix-blend-mode: color-burn;
  color: #9b1200;
  text-align: left;
  line-height: 1.1em;
}

.year {
  margin-top: -10px;
}

.date {
  font-size: 28px;
  color: #585858;
  font-weight: 900;
}

.annotation {
  background-color: #f1f1f1e7;
  border: #fff 3px solid;
  padding: 10px;
  font-size: 14px;
  margin: 20px 0;
  line-height: 1.6em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.annotation span {
  padding-left: 20px;
  font-size: 20px;
  font-style: italic;
  color: rgb(242, 125, 125);
}

.toolbar {
  display: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.nav-item {
  list-style: none;
  padding: 40px;
  font-weight: bold;
  font-size: 20px;
  margin: 16px;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: 0.7s ease;
}

.desktop-nav {
  display: none;
}

.nav-link:hover {
  color: dodgerblue;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.navbar .logo {
  display: none;
}

.hamburger {
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  display: block;
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #272a31;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  z-index: 5;
}

.nav-menu.active {
  left: 0;
}

nav li a {
  text-decoration: none;
  color: inherit;
}

.page-links {
  padding-bottom: 0.25rem;
}

.page-links:hover {
  border: 2px dashed var(--f1-red);
}

.mobile-nav.active {
  left: 0;
}

h2 {
  text-align: center;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 600;
}

header {
  width: 100%;
}

article h3 {
  color: #ec5242;
}

.img-area {
  background-image: url(icons/MotoImg/_DS_4794.webp);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 80vh;
  filter: blur(7px);
}

#moto-home {
  color: #383838;
  padding: 105px 20px 85px 20px;
  margin-top: -75px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-image: url(icons/landing.png), linear-gradient(#eeeeeed0, rgba(243, 243, 243, 0.938));
  background-repeat: no-repeat;
  background-size: cover;
}

.subtitle {
  font-size: 24px;
}

.coral {
  color: #ec5242;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  width: 100%;
  margin-bottom: 30px;
  font-size: 35px;
}

.intro h2 {
  width: 100%;
  margin-bottom: 5%;
  flex: 1;
}

.intro h2 span {
  color: red;
}

.intro h3 {
  display: none;
}

.intro button {
  background-color: red;
  color: white;
  padding: 20px;
  border: none;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.sponsors h2 {
  margin-bottom: 15px;
  color: #d3d3d3;
}

hr {
  width: 10%;
  color: var(--f1-red);
  margin-bottom: 20px;
}

footer > img {
  width: 30vw;
  height: auto;
  max-height: 80px;
}

#program {
  background: #272a33;
  background-image: url(icons/MotoImg/opacity25.png);
  background-size: 40%;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

#program h2 {
  color: white;
}

.news {
  padding-bottom: 20px;
}

#program article {
  background: #a1a1a144;
  display: grid;
  grid-template-columns: 3fr 5fr 8fr;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 15px;
}

#program article p {
  color: white;
}

article img {
  width: 50px;
}

#program .see-races {
  display: none;
}

#program .tickets {
  display: block;
  background-color: #ec5242;
  text-align: center;
  padding: 10px 20px;
  line-height: 1.5rem;
  width: 50%;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

#more img {
  width: 15px;
  padding-left: 5%;
}

#more {
  display: block;
  margin: 15px auto 40px;
  border: 2px #d3d3d3 solid;
  padding: 10px 30% 10px 30%;
  background-color: #fff;
  color: #272a33;
  font-weight: 600;
  font-size: 14px;
  line-height: 1rem;
}

#more.hidden {
  display: none;
}

section > hr {
  margin: auto;
  width: 50px;
  margin-bottom: 23px;
}

#drivers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 2rem 0.25rem;
}

#driver h2 {
  font-family: lato, 'Times New Roman', Times, serif;
  font-weight: 700;
}

#drivers article {
  display: grid;
  grid-template-columns: 30vw auto;
  grid-template-rows: auto auto auto auto;
  column-gap: 20px;
  row-gap: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}

#drivers article img {
  grid-area: 1 / 1 / 5 / 2;
  width: 100%;
  padding-top: 11%;
  padding-left: 11%;
  background-image: url(icons/MotoImg/chessboard-black.png);
  background-repeat: no-repeat;
  background-size: 50%;
}

#drivers article hr {
  display: block;
  border: 1px #d3d3d3 solid;
  height: 0;
  width: 30px;
}

.sponsors {
  background-color: var(--capstone-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 30px 20px;
}

.sponsor-list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 25px;
  row-gap: 18px;
  list-style: none;
}

.sponsor-list a {
  color: #d3d3d3;
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 20px;
  align-items: center;
  height: 140px;
}

footer > div {
  font-size: 14px;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  footer img {
    max-height: 80px;
    height: 100%;
    width: auto;
  }

  .toolbar {
    display: block;
    background-color: var(--capstone-grey);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 100%;
    font-size: 0.85rem;
  }

  select {
    appearance: none;
    background-color: transparent;
    border: none;
    color: white;
  }

  .toolbar img {
    width: 30%;
  }

  .toolbar li select {
    background-color: var(--capstone-grey);
    border: none;
    color: var(--hard-white);
  }

  .toolbar li {
    width: 3.5rem;
    margin-left: 1.5rem;
  }

  .toolbar ul {
    list-style: none;
    color: var(--hard-white);
    display: flex;
    justify-content: flex-end;
    font-family: 'Lato', 'Times New Roman', Times, serif;
  }

  .hamburger {
    display: none;
  }

  nav {
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 5px 5px #c2c2c2ad;
    position: relative;
    z-index: 2;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .desktop-nav li {
    margin-left: 10px;
    display: inline-block;
  }

  .desktop-nav a {
    text-decoration: none;
  }

  nav .campaign {
    display: block;
    color: #ec5242;
    border: 3px #ec5242 solid;
    padding: 6px;
  }

  .navbar .logo {
    display: block;
    width: 100px;
  }

  .intro {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro img {
    width: 25px;
  }

  .intro h3 {
    display: block;
    width: 100%;
  }

  .intro h1 {
    width: 100%;
    font-size: 40px;
  }

  .intro .date {
    margin-bottom: -0.5%;
  }

  .intro button {
    border-radius: 10px;
    padding: 20px 100px;
    margin-top: -30px;
  }

  .intro h4 {
    width: 100%;
  }

  #drivers article {
    grid-template-columns: 30% auto;
  }

  #program .tickets {
    display: none;
  }

  #program {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding-top: 100px;
  }

  #program h2 {
    grid-area: 1 / 1 / 2 / 6;
  }

  #program article {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 3fr;
    gap: 15px;
    text-align: center;
    align-items: flex-start;
    width: unset;
    height: 100%;
  }

  #program article:hover {
    outline: 2px solid #fff;
  }

  #program img {
    width: 50%;
    min-width: 60px;
    max-width: 70px;
    margin: auto;
  }

  #program h3 {
    font-size: 20px;
    align-self: center;
  }

  #program hr {
    grid-area: 2 / 1 / 3 / 6;
  }

  #program .see-races {
    text-decoration: none;
    display: block;
    width: fit-content;
    grid-area: 4 / 1 / 5 / 6;
    color: #fff;
    margin: 50px auto 20px auto;
    font-size: 16px;
    border-bottom: 1px solid #fff;
  }

  #drivers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr;
    gap: 20px;
  }

  #drivers h2 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #drivers hr {
    grid-area: 2 / 1 / 3 / 3;
  }

  #drivers article img {
    display: grid;
  }

  #more {
    display: none;
  }

  .sponsors.hidden {
    display: flex;
  }

  .sponsors ul {
    margin-top: 0;
    row-gap: 25px;
  }

  footer {
    height: 160px;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }

  footer.hidden {
    display: flex;
  }
}
